@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 1.6;
    color: #f3f3f3;
    background-color: black;
    transition: background 0.2s ease;
    text-align: center;
}

header  {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 72px;
}

header h1 {
    color: #ff073a;
    text-shadow:
      0 0 7px #ff073a,
      0 0 10px #ff073a,
      0 0 21px #ff073a,
      0 0 42px #ff073a,
      0 0 82px #ff073a,
      0 0 92px #ff073a,
      0 0 102px #ff073a,
      0 0 151px #ff073a;
    margin-top: 1.5rem;
}

.status {
    font-size: 1.3rem;
    margin-top: 15px;
    min-height: 30px;
    text-align: center;
}

.board {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

/* X Neon */
.x {
    color: #ff073a;
    text-shadow: 
        0 0 5px #ff073a,
        0 0 10px #ff073a,
        0 0 20px #ff073a;
}

/* O Neon */
.o {
    color: #00f0ff;
    text-shadow: 
        0 0 5px #00f0ff,
        0 0 10px #00f0ff,
        0 0 20px #00f0ff;
}

.results {
    color: #f3f3f3;
    text-align: center;
    margin: 20px;
}

/* Highlight Winner */
.winner {
    background-color: #111;
    box-shadow: 0 0 20px gold;
}

/* Tombol Reset */
button {
    margin: 20px;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #00f0ff;
    color: #00f0ff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background-color: #00f0ff;
    color: black;
    box-shadow: 0 0 15px #00f0ff;
}

