@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 1.6;
    color: #1f2937;
    background-color: #171717;
    transition: background 0.2s ease;
}

header  {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 72px;
}

header h1 {
    color: #ff073a;
}

header h1 span {
    color: #00f0ff;
}

.board {
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

/* X Neon */
.x {
  color: #ff073a;
  text-shadow: 
    0 0 5px #ff073a,
    0 0 10px #ff073a,
    0 0 20px #ff073a;
}

/* O Neon */
.o {
  color: #00f0ff;
  text-shadow: 
    0 0 5px #00f0ff,
    0 0 10px #00f0ff,
    0 0 20px #00f0ff;
}